<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Joseph Durrans">
    <meta name="description" content="CV Website">
    <title>Joseph Durrans</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>

    <header class="sticky-header">

        <div class="container-fluid">
            <div class="row main-header">

                <div class="col-lg-6">
                    <div class="title-wrap title-design">
                        Joseph Durrans
                    </div>
                </div>

                <div class="col-lg-6">
                    {% block nav %}{% endblock %}
                </div>

            </div>
        </div>

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-fluid">
        <div class="row">
            <div class="col footer-text">
                <p>Designed &amp; created by: <span>Joseph Peter Durrans<span></p>
            </div>
        </div>
    </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="/assets/js/sticky-header.js"></script> 
    <script src="/assets/js/blink-anim.js"></script> 
    <script src="/assets/js/alternate-pannels.js"></script>
    <script src="/assets/js/validate.js"></script> 

</body>
</html>