{% extends "./layouts/theme.twig" %}

{% block nav %}
    <nav class="nav-wrap nav-design">
        <a shref="/">home</a>
        <a href="/projects">projects</a>
        <a href="/cv">cv</a>
        <a href="/contact">contact</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner blend" style="background-image: url('https://source.unsplash.com/WQx4_R4jjJA/3840x2160');">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-text-wrap banner-text">
                    <h1>404 Page not found<span class="js-underscore">_</span></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}