{% extends "./layouts/theme.twig" %}

{% block nav %}
    <nav class="nav-wrap nav-design">
        <a href="/">home</a>
        <a href="/projects">projects</a>
        <a href="/cv">cv</a>
        <a class="active" href="/contact">contact</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner blend" style="background-image: url('https://source.unsplash.com/bOQmEZ4rapU/3840x2160');">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-text-wrap banner-text">
                    <h1>Contact<span class="js-underscore">_</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 form-wrap">
                <form class="form-contact" method="post" name="contact_form" action="/assets/includes/contact-form-handler.php">
                    <p>Your Name:</p>
                    <input type="text" name="name">
                    <p>Email Address:</p>
                    <input type="text" name="email">
                    <p>Message:</p>
                    <textarea name="message"></textarea><br>
                    <input type="submit" value="Submit">
                </form>  
            </div>
        </div>
    </div>

{% endblock %}