{% extends "./layouts/theme.twig" %}

{% block nav %}
    <nav class="nav-wrap nav-design">
        <a class="active" href="/">home</a>
        <a href="/projects">projects</a>
        <a href="/cv">cv</a>
        <a href="/contact">contact</a>
    </nav>
{% endblock %}


{% block content %}
    <div class="banner blend" style="background-image: url('https://source.unsplash.com/IZzdn9sXOAM/3840x2160');">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-text-wrap banner-text">
                    <h1>home<span class="js-underscore">_</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row home-pitch">
            <div class="col-lg-6">
                <img class="bitbucket-logo" src="/assets/img/bitbucket-logo.png" alt="Bitbucket logo">
            </div>
            <div class="col-lg-6 home-text">
                <p>Welcome to my website</p>
            </div>

        </div>
    </div>
{% endblock %}
