
{% extends "./layouts/theme.twig" %}

{% block nav %}
    <nav class="nav-wrap nav-design">
        <a href="/">home</a>
        <a class="active" href="/projects">projects</a>
        <a href="/cv">cv</a>
        <a href="/contact">contact</a>
    </nav>
{% endblock %}

{% block content %}

    <div class="banner blend" style="background-image: url('https://source.unsplash.com/fwAbY_n3MAE/3840x2160');">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-text-wrap banner-text">
                    <h1>Projects<span class="js-underscore">_</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row projects-pitch">
            <div class="col-lg-3">
                <img class="bitbucket-logo" src="/assets/img/bitbucket-logo.png" alt="Bitbucket logo">
            </div>
            <div class="col-lg-3">
                <img class="git-logo" src="/assets/img/git-icon-black.png" alt="Git logo">
            </div>
            <div class="col-lg-6 projects-text">
                <p>Listed below are a few projects i have been working on recently. These vary from websites, to desktop applications written in various programming languages. Each project is open source and has their own bitbucket repository which you my clone to review my code or to expand upon my it.</p>
            </div>

        </div>
    </div>

    <div class="container-fluid pannel-shadow">
        <div class="row pannel-row">
            <div class="col-lg-6 pannel-text">
                <p>Web Development</p>
                <h1>CV</h1>
                <a href="https://bitbucket.org/joseph-durrans/cv/src/master/">See more</a>
            </div>
            <div class="dot">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z"/></svg>
            </div>
            <div class="col-lg-6 no-gutters">
                <div class="pannel-image blend" style="background-image: url('https://source.unsplash.com/IZzdn9sXOAM/1920x500');"></div>
            </div>
        </div>

        <div class="row pannel-row">
            <div class="col-lg-6 no-gutters">
                <div class="pannel-image blend" style="background-image: url('https://source.unsplash.com/IZzdn9sXOAM/1920x500');"></div>
            </div>
            <div class="dot">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path d="M23 10.826v2.349c-1.562 0-3 1.312-3 2.857 0 2.181 1.281 5.968-6 5.968v-2.002c4.917 0 3.966-1.6 3.966-3.967 0-2.094 1.211-3.5 2.278-4.031-1.067-.531-2.278-1.438-2.278-3.312 0-2.372.94-4.692-3.966-4.686v-2.002c7.285 0 6 4.506 6 6.688 0 1.544 1.438 2.138 3 2.138zm-19-2.138c0-2.182-1.285-6.688 6-6.688v2.002c-4.906-.007-3.966 2.313-3.966 4.686 0 1.875-1.211 2.781-2.278 3.312 1.067.531 2.278 1.938 2.278 4.031 0 2.367-.951 3.967 3.966 3.967v2.002c-7.281 0-6-3.787-6-5.969 0-1.545-1.438-2.857-3-2.857v-2.349c1.562.001 3-.593 3-2.137zm9 5.312v1.278c0 1.143-.722 2.068-1.774 2.276l-.199-.431c.487-.184.797-.773.797-1.216h-.824v-1.907h2zm0-6h-2v2h2v-2z"/></svg>
            </div>
            <div class="col-lg-6 pannel-text">
                <p>Software Development</p>
                <h1>Clarity</h1>
            </div>
        </div>
    </div>


{% endblock %}
