{% extends "./layouts/theme.twig" %}

{% block nav %}
    <nav class="nav-wrap nav-design">
        <a href="/">home</a>
        <a href="/projects">projects</a>
        <a href="/cv">cv</a>
        <a href="/contact">contact</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner blend" style="background-image: url('https://source.unsplash.com/bOQmEZ4rapU/3840x2160');">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-text-wrap banner-text">
                    <h1>Thanks! I'll be in contact soon<span class="js-underscore">_</span></h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}