$faded-grey: #a9a9a9;

body{
    font-family: 'Lato', sans-serif;
}

.blend{
    background-color: rgb(51, 51, 51);
    background-blend-mode: multiply;
}

.blend-light{
    background-color: rgb(161, 161, 161);
    background-blend-mode: screen;
}

.pannel-shadow{
    box-shadow: 0 0 50px #000;
}

.sticky-header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.main-header{
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 50px #000;



    .title-wrap{
        padding-left: 50px;

        &.title-design{
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }

    .nav-wrap{
        text-align: right;
        margin-right: 50px;
    
        &.nav-design{
        
            a{
                color: $faded-grey;
                padding-left: 20px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;

                &:hover{
                    color: #000;
                }

                &.active{
                    color: #000;
                }
            }
        }
    }
}


.banner{
    display:flex;
    height: 600px;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    box-shadow: 0 0 50px #000;
    

    .banner-text-wrap{

        margin-bottom: 20px;
        margin-left: 200px;

        &.banner-text{
        
            h1{
                color:#fff;
                letter-spacing: 20px;
                font-size: 100px;
                text-transform: uppercase;
            }
        }
    }
}

.home-desc{
    height: 500px;
}


    
.pannel-row{
    position: relative;

    .pannel-image{
        height: 500px;
    }
    
    .no-gutters{
        padding: 0;
    }

    .dot {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pannel-text{
        height: 500px;
        text-transform: uppercase;
        padding-top: 100px;

        h1{
            font-size: 75px;
            letter-spacing: 10px;
            margin: 0;
            margin-bottom: 50px;
        }
        
        p{
            color: $faded-grey;
            letter-spacing: 2px;
            margin-bottom: 16px;
        }

        a{
            text-decoration: none;
            color: $faded-grey;
            border: 1px solid $faded-grey;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 8px;
            padding-bottom: 8px;



            &:hover{
                color: #000;
                border: 1px solid #000;

            }

        }
    }
}






.form-wrap{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;

    .form-contact{

        p{
            margin-top: 16px;
            letter-spacing: 2px;
        }
        input[type="text"]{
            width: 500px;
            border: 1px solid #000;
        }
        textarea{
            width: 500px;
            height: 200px;
            border: 1px solid #000;
        }
        input[type="submit"]{
            margin-top: 16px;
            width: 150px;
            height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: 1px solid #000;
        }
    }
}

.projects-pitch{
    height: 500px;
    display: flex;
    align-items: center;

    .bitbucket-logo{
        height: 150px;
        margin-left: 200px;
        opacity: .6;
    }

    .git-logo{
        height: 150px;
        justify-content: center;
        opacity: .6;
    }

    .projects-text{
        padding-left: 150px;
        padding-right: 150px;
        
        p{
            letter-spacing: 2px;
            line-height: 40px;
        }
    }
}

.home-pitch{
    height: 500px;
    display: flex;
    align-items: center;

    .bitbucket-logo{
        height: 150px;
        margin-left: 200px;
        opacity: .6;
    }

    .home-text{
        padding-left: 150px;
        padding-right: 150px;
        
        p{
            letter-spacing: 2px;
            line-height: 40px;
        }
    }
}

.footer-text{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        padding-top: 20px;
        margin: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        
    }
    span{
        color: $faded-grey;
    }
}






@media(max-width: 992px){

}

